<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add
    name="YooperGreens"
    connectionString="Data Source=deDogs-PC\DEDOGSSQL;Initial Catalog=YooperGreens;User ID=sa;Password=moclay9330;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"
    providerName="System.Data.SqlClient"
/>
  </connectionStrings>
</configuration>